/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

nav {
    background-color: #464544f1;
    padding: 20px 0;
  }
  
  nav ul {
    list-style-type: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 30px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  nav ul li a:hover {
    color:#000000;
  }
.thank-you-container {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 2.5em;
    color: #333333;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    color: #666666;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #ffae0098;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ffae0098;
}

.footer{
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.1);
    padding: 50px 0  0 0;
    text-align: center;
}

/*underline footer*/

.footer h3{
    text-align: center;
    font-size: 25px;
    padding-bottom: 10px;
    display: inline-block;
    margin-bottom: 50px;
}
.footer p{
    font-size: 15px;
    color: rgba(0,0,0,0.5);
    font-weight: lighter;
    padding: 0 10px;
}
.footer i{
    padding: 10px;
    font-size: 22px;
    color: rgba(0,0,0,0.8);
    transition: 0.6s;
}


.Copyright h4{
    font-size: 18px;
    line-height: 100px;
}

#last-logo{
    font-size: 30px;
    font-style: italic;
    display: inline-block;
    color: #443413;
    font-weight: bold;
}



.footer2 {
    background-color: #000000;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
}
/* Media Queries for Responsive Layout */
@media (max-width: 1024px) {
    .guide-profile {
        width: calc(33.33% - 30px); /* 3 profiles per row on tablets */
        height: auto;
    }
}

@media (max-width: 768px) {
    .guide-profile {
        width: calc(50% - 20px); /* 2 profiles per row on smaller tablets */
        height: auto;
    }
}

@media (max-width: 480px) {
    .guide-profile {
        width: 100%; /* 1 profile per row on mobile */
        height: auto;
    }
}